*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
   line-height: 5rem;

}
.choices{

    display: flex;
    justify-content: center;
    margin-top: 4rem;
    gap: 3rem;
}
.allImgDiv{
    border: 2px solid green;
    height: 165px;
    width: 165px;
    /* border: 2px solid green; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.allImgDiv:hover{
    background-color: #081b31;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;

} img:hover{
    opacity: 0.8;
} 

.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
    font-size: 2rem;
}
.userScore-para, .compScore-para{
    font-size: 4rem;
}
.msg{
    margin-top: 3rem;
    background-color: #081b31;
    font-size: 2rem;
    color: #fff;
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;

}
@media (max-width:909px) {
 .allImgDiv{
    height:87px ;
    width: 87px;
}
img{
   
    height: 85px;
    width: 85px;
} 
.choices{
    gap: 1rem;
    
}
.userScore-para, .compScore-para{
    font-size: 2rem;
}
    .msg{
        font-size: 1.7rem;
    }
}



@media (max-width:307px) {
    .allImgDiv{
    height:93px ;
    width: 93px;
}
img{
   
    height: 90px;
    width: 90px;
} 
.choices{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 5px;
}
.userScore-para, .compScore-para{
    font-size: 1.5rem;
}
.scoreBoard{
    margin-top: 5rem;
}
    .msg{
        font-size: 0.8rem;
    }
    h1{
        font-size: 25px;
    }
    p{
        font-size: 25px;
    }
    .winner-container{
    position: absolute;
       bottom: 205px;
       left: 5px;
       width: 240px;
   

    }
    
}
